PeriodMatcher.vshost.exe.manifest
DesignTimeResolveAssemblyReferencesInput.cache
*.suo
PeriodMatcher.vshost.exe
Gbd.PeriodMatcher.vshost.exe
*.pdb
Gbd.PeriodMatching.vshost.exe
*.cache
PeriodMatcher.csproj.FileListAbsolute.txt
Debug
*.log
*.user
_ReSharper.PeriodMatcher
